.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.3rem;
    border-radius: 5px;
    box-shadow: 0 29px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: rgb(255, 255, 255);
}

.LoginForm > h1 {
    color: #303F9E;
}

.LoginForm > .formControl {
    width: 15em;
    padding: 0.5rem;
    margin-bottom: 40px;
}




